#XaView
#Sat May 16 19:52:22 GMT+03:00 2026
NdkEnabled=true
AppName=DamnWrapper32 (ARMv7)
AutoRunPackage=
CustomJavacArgs=-proc\:none
AutoRunName=\u041D\u0435\u0442
NdkAbis=armeabi-v7a
MinSdk=21
PackageName=com.damnwrapper32armv7.xaview
CustomOutDir=
VersionName=1.0.3
VersionCode=4
TargetSdk=28
